

body {
    margin: 0;
    font-size: 1.3em;
}

h1, p {
    margin: 0;
}

.container {
    background-color: pink;
}

.item {
    padding: 5%;
}

.item-a {
    background-color: yellow;
}

.item-b {
    background-color: greenyellow;
}



/* 
    @media : 미디어 쿼리
    screen : 브라우저 화면
    min-width: 700px : 현재 브라우저의 최소 넓이가 700px 안에 들어온다면 {} 실행
    max-width: 500px : 현재 브라우저의 최대 넓이가 500px 안에 들어온다면 {} 실행
*/

@media screen and (min-width: 700px) {

   

    .container {
        font-size: 0;
    }

    .item {

        display: inline-block;
        font-size: 1.2rem;
        vertical-align: top;

        /*         
            여기서 em이 먹히지 않는 이유는
            상위태그가 container인데 그 태그의 font-size가 0 이라서 아무것도 뜨지 않는다.
            em 속성은 상위태그의 폰트사이즈를 기준으로 설정한다는 의미이다. 
        */

        /* font-size: 2em; */

    }
   
    .item-a {
        width: 30%;
    }

    .item-b {
        width: 50%;
    }

}