
/* 
    애스터리스크를 요즘 쓰지 않는 이유는 브라우저가 
    모든 태그를 체크해서 성능에 느려져서 사용하지 않는다.

    * {
    margin: 0px;
    padding: 0px;
    }

 */

 html {


     /*      
        여기서 폰트 사이즈를 수정해주면
        rem 단위가 변경되는 것을 확인할 수 있다.
     */

     font-size: 16px;
 }



body {
    margin: 0;
    font-size: 2em;
}

h1, p {
    margin: 0;
}

.container {
    
    /* 브라우저 화면에서 최대 넓이 */

    /* 
    max-width: 1000px;
    margin: 0 auto; 
    */
    background-color: pink;
}

/* 가상 엘리먼트를 추가해서 부모 태그의 float에서 벗어나게 해준다. */
/* :after 선택자는 해당 태그의 닫히는 태그 바로 전에 가상의 태그를 생성해서 스타일을 적용시켜준다. */
.container:after {
    content: '내가 클리어 했다!';
    display: block;
    clear: both;


    /* 추가로 안전하게 아래와 같은 속성도 추가해주기도 한다. */

    /* height: 0; -> 혹시나 공간을 차지 할수도 있기 때문에 설정한다.  */
    /* visibility: hidden; -> content 내용이 보이지 않게 가린다. */
    height: 0;
    visibility: hidden;
}


.item {

    
    padding: 5%;


}

.item-a {

    background-color: yellow;
    width: 30%;
    float: left;
}

.item-b {

    background-color: yellowgreen;
    width: 45%;

    /* 
        'float'을 이 태그에만 적용할 경우에는 'item-a'와 서로 같은 줄에 붙지 않고
        같은 라인에 적용시키려면 'item-a'도 'float' 속성을 적용해야한다.

        추가로 'float' 속성을 준 태그에 부모태그가 있다면
        그 부모태그는 'float' 속성이 있는 태그를 인식하지 못해서 'height'가 '0'이 된다.

        float 속성이 적용된 태그와 해당 속성이 없는 가까운 태그들은
        float 속성을 해제시키기 위해서 clear: both; 를 사용해줘야한다.

        flaot 속성이 공중에 떠있기 때문에 부모가 자식태그를 인식하지 못한다.
        그래서 부모태그가 끝나는 close tag 앞쪽에 clear both를 추가해야한다.
     */
    float: right;
}

footer {

    /* 
        float을 사용해서 left에 위치하고 있다면
        clear: left;를 사용하면 되지만 보통은 clear: both;를 많이 사용한다. 
    */
    clear: both;

    background: gray;
}